p {
    text-align: justify;
    color: black;
    width: 50vw;
    height: auto;
    margin: auto
}

article header h1 {
    text-align: center;
    font-size: 3vw
}

#titulop {
    text-align: center;
    font-size: 4vw
}

.subtitulo{
    text-align: center;
    color: teal;

}

article section h2{
    font-size: 2vw
}