p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: black;
    width: 50vw;
    height: auto;
    margin: auto
}

article header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3vw
}

#titulop {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4vw
}

.subtitulo{
    border: 5px black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: teal;

}

footer{
    text-align: center
}

article section h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/Atividade 3/gradient_bg.png");
    background-repeat: repeat-x;
    margin: 100px;
}

.formulario {
    border: 5px black;
    text-align: center
}

