*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background: #eee;
}

.conteudo{
    width: 900px;
    height: 100vh;  
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    box-shadow: 0px 0px 6px #aaa;
    border: 1px solid #ccc;
}

.conteudo--header{
    flex-basis: 100%;
    height: 50px;
    background-color: #09d261;
    line-height: 50px;
    display: flex;
    align-items: center;
}

.conteudo--header--titulo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 110px 0 20px;
    font-size: 30px;
}

.conteudo--header>div{
    width: 100%
}

.conteudo--header--titulo--conversa{
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo--header>div>button{
    float: right;
    font-size: 10px;
    height: 30px;
    border-radius: 10px;
    padding: 8px;
    border: 2px solid #09d261;
    text-decoration: none;
    background-color: none;
    color: black;
    cursor: pointer;
    margin: 10px;
}

.conteudo--listadeamigos{
    width: 250px;
    height: calc(100vh - 50px);
    background-color: #eeeeee;
    display: block;

}

.conteudo--listadeamigos--lista{
    list-style-type: none;
}

.conteudo--listadeamigos--lista--itemlista{
    height: 50px;
    display: flex;
    align-items: center;
}

.conteudo--listadeamigos--lista--itemlista:hover{
    background-color: #aaa;
}

.conteudo--listadeamigos--lista--itemlista--img{
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 7px;
}

.conteudo--listadeamigos--lista--itemlista--nomegrupo{
    padding: 15px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.mensagens{
    height: calc(100vh - 100px);
    flex-basis: fill;
    position: relative;
    width: calc(100% - 250px);
    /* display: block; */
    background-color: whitesmoke;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.mensagens--mensagemfriend{
    background-color: rgb(255, 255, 255);
    max-width: 80%;
    height: auto;
    border-radius: 0 15px 15px 15px;
    margin: 10px;
    clear: both;
    align-self: flex-start;
}

.mensagens--mensagemuser{
    background-color: #59d890;
    max-width: 80%;
    height: auto;
    border-radius: 15px 0 15px 15px;
    margin: 10px;
    clear: both;
    align-self: flex-end
}

.mensagens--mensagemuser--conteudo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.mensagens--mensagemuser--usuario{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 10px;
}

.mensagens--mensagemfriend--conteudo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.mensagens--mensagemfriend--usuario{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 10px;
}

.mensagens--enviar{
    background-color: #aaa;
    height: 50px;
    position: relative;
    width: auto;
    display: flex;
    align-self: flex-end
}