
*{
    margin: 0;
    padding: 0
}

body{
    line-height: 1.5;
    
}

h1{
    height: 70px;
}

.h1 a{
    position: relative;
    top: 35px;
    float: right;
    background: white;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 15px;
    text-align: right;
    font-weight: 400;
    letter-spacing: 4px;
}

.img{
    position: absolute;
    left: 10px;
    top: 20px;
}

 .superior{
    background-color: #4CAF50;
    box-shadow: 2px 2px 2px #818181;
    height: 60px;
    overflow: hidden;
    width: 100%;
}

.superior ul{
    list-style-type: none;
}

.dropdown{
    float: left;
}

.dropdown-content{
    padding: 15px;
    margin-top: 29px
}

.dropdown-button{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    color: black;
    display: inline-block;
    height: 60px;
}

.superior div{
    cursor: pointer;
    /* padding: 6px;   tirei para resolver o bug */
}

h2 {
    /* display: inline;  tirei para resolver o bug */
    padding: 13px;
}

.superior .dropdown-content{
    position: absolute;
    background-color: #f1f1f1;
    display: none;
    box-shadow: 2px 2px 2px #88888856;
}

.dropdown-button:hover{
    background-color: white;
    color: black;
}


.superior:hover .dropdown-content{
    display: block;
    left: 0;                                        
    top: 101px;
    color: black                                 
}

.elemento{
    font-family: Verdana,sans-serif;
    font-size: 16px;
    margin:  10px 20px 10px 20px;
    padding: 1px 60px 1px 1px;
}

.lateral{
    width: 230px;
    height: 100vh;
    background-color: white;
    box-shadow: 2px 2px 2px #b1aeae;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}